.category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 0px;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1.625rem;
}

.category_list {
    padding: 0.5rem 0.875rem;
    border-radius: 50px;
    background: #ededed;
    transition: .3s ease;
}

.category_list.active {
    background: #4FD5FF;
}

.category_list p {
    font-size: 0.75rem;
    font-weight: 500;
}