.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.125rem;
    margin-bottom: 1rem;
    background: #0085FF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.alignCenter {
    align-items: center;
}
.list {
    text-align: left;
    cursor: pointer;
}
.list h3 {
    font-size: 1.125rem;
    line-height: 16px;
    color: #fff;
}
.list_info {
    line-height: 20px;
    padding: 0.75rem 0;
    font-size: 0.875rem;
    color: #fff;
}
.list_category {
    display: inline-block;
    padding: 0.3125rem 0.625rem;
    border-radius: 20px;
    background: #fff;
    font-size: 0.75rem;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}
.btn {
    border: none;
    background: none;
    cursor: pointer;
}

.btn img {
    width: 20px;
    height: 20px;
}
.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.actions > div {
    display: flex;
    align-items: center;
}
.actions > div > img {
    width: 1.25rem;
    height: 1.125rem;
    margin-right: 0.325rem;
}
.actions > div > p {
    color: #fff;
}