.container {
    position: absolute;
    width: 100%;
    padding: 0 3rem;
    margin: 0 auto;
    top: 95px;
    text-align: center;
    z-index: 2;
}
.card {
    padding: 0.3rem 0.75rem;
    background: rgba(79, 79, 79, 0.4);
    border-radius: 5px;
    color: #fff;
}

.fade_in {
    animation: fadeIn 1.5s ease 0s 1 normal forwards;
  }

.fade_out {
    animation: fadeOut 1s ease 0s 1 normal forwards;
  }
  
@keyframes fadeIn {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
    
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}